<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel='stylesheet' href='./stylesheets/style2.css'/>
    <link rel="icon" href="data:;base64,iVBORwOKGO="/>
</head>

<body>
<header>
    <img src="./images/location.png" width="100"
         alt="an image of a map and location">
    <h1>GeoTagApp</h1>

    <nav>
        <a href="/about">About</a> | <a href="/">Home</a>
    </nav>
</header>
<main>
    <div>
        <h3>
            GeoTagApp ist eine Social Sharing App für besuchte Orte.<br>
            Die App verwaltet GeoTags (Location mit Hashtag).<br>
        </h3>
        <h4>
            Dies beinhaltet zwei Hauptfunktionen: das Anlegen (Tagging) und die Suche (Discovery) von GeoTags:<br>
        </h4>
        <hr>
        <ul>
            <li>
                Über ein Tagging Widget (als Formular) kann ein Name sowie ein Hashtag für den aktuellen Ort
                (durch automatisch erfasste Koordinaten) hinzugefügt werden.
                Anschließend wird dieser Ort als GeoTag in der Map vermerkt.
            </li>
            <br>
            <li>
                In einer Discovery Liste werden die GeoTags der aktuellen Umgebung angezeigt. GeoTags der Umgebung
                können
                über Name oder Hashtag gefiltert werden.
            </li>
        </ul>
    </div>
    <button class="return" onclick="location.href='http://localhost:3000'">return</button>
</main>
</body>
</html>